.app.light {
  --bg-color: #FAFAFA;

  --color-primary: #623CFF;
  --color-primary-hovered: #BEADFF;
  --color-secondary: #EEEBFF;
  --color-white: #FFFFFF;
  --color-grey: #737373;

  --color-text: #333333;
  --color-text-secondary: #737373;
}